@{
    ViewBag.Title = "Đổi mật khẩu";
}
<div class="container">
    <ul class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i></a></li>
        <li><a href="/Account/ChangePassword">Đổi mật khẩu</a></li>
    </ul>
    <div class="row">
        <div id="content" class="col-sm-12">
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
            {
            <div class="row">
                @if (ViewBag.Success != null && (bool)ViewBag.Success == true)
                {
                    <p class="success-color">Đổi mật khẩu thành công.</p>
                }
                @Html.ValidationSummary("", new { @class = "custom-color-msg" })
                <div class="col-sm-3" style="padding-left:0">
                    <label class="control-label label-search">Mật khẩu hiện tại</label>
                    <div class="">
                        <input type="password" name="Password" id="Password" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="control-label label-search">Mật khẩu mới</label>
                    <div>
                        <input type="password" name="NewPassword" id="NewPassword" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="control-label label-search">Xác nhận Mật khẩu mới</label>
                    <div>
                        <input type="password" name="ConfirmNewPassword" id="ConfirmNewPassword" class="form-control" />
                    </div>
                </div>
            </div>
                <div class="row">
                    <input type="submit" value="Đổi mật khẩu" id="button-search" class="btn btn-primary" />
                </div>

                
            }
        </div>
    </div>
</div>
