
@{
    ViewBag.Title = "UnAuthorized";
}

<style>
    .error-template {
        padding: 40px 15px;
        text-align: center;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!
                </h1>
                <h2>
                    401 UnAuthorized
                </h2>
                <div class="error-details">
                    Bạn không có quyền hạn truy cập tính năng này.
                </div>
            </div>
        </div>
    </div>
</div>


